* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
}
* a {
  text-decoration: none;
  color: inherit;
}
* button {
  cursor: pointer !important;
}
* ul {
  list-style-type: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Inter", sans-serif !important;
}

body {
  background: #f4f7fd;
}
body main {
  padding-top: 28px;
}
body main .navbar {
  z-index: 100;
  position: fixed;
  width: 100%;
  padding: 24px 0 20px;
  box-shadow: 0 8px 6px 0 #e8ebf3;
  background: #fff !important;
}
body main .navbar ul {
  display: flex !important;
  align-items: center;
  justify-content: space-between !important;
}
body main .navbar ul .ramadan {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
}
body main .js {
  padding-top: 100px;
}
body main .js .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}
body main .js .wrapper .card {
  padding: 16px;
  border-radius: 12px;
  width: 250px;
  background: #fff;
  display: flex;
  flex-direction: column;
}
body main .js .wrapper .card .card1 {
  position: relative;
}
body main .js .wrapper .card h3 {
  letter-spacing: 0.2;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5098039216);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
body main .js .wrapper .card .rate {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .js .wrapper .card .rate span {
  font-style: 14px;
  color: rgba(0, 0, 0, 0.5215686275);
  display: flex;
  align-items: center;
  gap: 3px;
}
body main .js .wrapper .card .price {
  color: #048eff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.6;
  margin-bottom: 16px !important;
}
body main .js .wrapper .card .credit {
  color: #fe943c;
  border: 2px solid #fe943c;
  padding: 8px;
  font-weight: 600;
  border-radius: 6px;
}
body main .js .wrapper .card .buttons {
  padding-top: 24px;
  display: flex !important;
  justify-content: space-between;
}
body main .js .wrapper .card .buttons .card-cart {
  border: 0;
  padding: 4px 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00bfaf;
}
body main .js .wrapper .card .buttons .buy_now {
  border: 0;
  color: #fff;
  padding: 4px 30px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #008dff;
}
body main .js .wrapper .card .icons {
  display: flex;
  justify-content: space-between !important;
}
body main .js .wrapper .card .icons .like {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
body main .js .wrapper .card .icons .new {
  padding: 8px 12px;
  height: 34px;
  border: radius 6px;
  background: #ff0101;
}
body header {
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 0;
  background: #fff !important;
  z-index: 100;
  position: fixed;
  width: 100%;
  margin: 0 auto;
}
body header .header-contents {
  display: flex;
  align-items: center !important;
  justify-content: space-between !important;
  gap: 20px;
}
body header .header-contents .logo {
  width: 140px;
}
body header .header-contents ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
body header .header-contents .btn-menu {
  display: flex;
  align-items: center !important;
  justify-content: center;
  border: 0;
  border-radius: 10px;
  background: #008dff;
  color: #fff;
  padding: 8px 16px;
}
body header .header-contents .search {
  position: relative;
}
body header .header-contents .search input {
  max-width: 480px !important;
  outline: none;
  border: 2px solid #008dff;
  border-radius: 10px;
  padding: 8px 6px;
  line-height: 16px;
}
body header .header-contents .search input::-moz-placeholder {
  padding: 10px 8px !important;
  opacity: 0.5;
}
body header .header-contents .search input::placeholder {
  padding: 10px 8px !important;
  opacity: 0.5;
}
body header .header-contents .search .btn-input {
  position: absolute;
  right: 0;
  top: 0px;
  padding: 8px 12px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background: #008dff;
  border-radius: 0 10px 10px 0;
}
body header .header-contents .nav-responsive div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
}
body header .header-contents .nav-responsive div span {
  position: absolute;
  top: 0;
  right: 10px;
  background: #008dff;
  border-radius: 50%;
  color: #fff;
  padding: 0 5px;
  display: flex;
  align-items: center !important;
  justify-content: center;
}
body header .header-contents .btn-open {
  display: none;
  border: 0;
  background: none;
  align-items: center;
  justify-content: center;
}
body header .header-contents .btn-open:hover {
  background: #ccc;
}

@media (min-width: 1370px) {
  header .header-contents {
    gap: 15px;
  }
  header .header-contents .search input {
    width: 400px !important;
  }
}
@media (max-width: 1090px) {
  header .header-contents {
    gap: 10px;
  }
  header .header-contents .search input {
    width: 350px;
  }
}
@media (max-width: 900px) {
  header .header-contents .nav-responsive {
    display: none;
  }
  header .header-contents .nav-responsive .btn-open {
    display: flex !important;
  }
  header .header-contents .btn-menu {
    display: none !important;
  }
  main .navbar {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */